body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("https://xvijay.github.io/spacemission/images/backgroundjpeg") !important;
  background: #16222a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3a6073,
    #16222a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3a6073,
    #16222a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card {
  transform: scale(0.9, 0.9);
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
  transition: all 0.3s ease-in-out;
  border-radius: 5% !important;
  height: 70vh;
}
.card:hover {
  transition: all 0.15s ease;
  transform: translateY(-20px);
}

#style-1::-webkit-scrollbar-thumb {
  background-color: #00000047;
}
#style-1::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
.card {
  background-color: #eaeaea !important;
}

.card-body {
  overflow: auto;
}
.card-header {
  text-align: center;
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.03) !important;
}

.centerDiv {
  position: fixed;
  left: 45%;
  top: 45%;
  z-index: 1000;
  height: 31px;
  width: 10%;
}

.list-group-flush .list-group-item {
  background: transparent !important;
  font-size: 0.9rem;
  padding: 0.3rem 0.25rem !important;
}

.centerDivJumbo {
  background-color: transparent !important;
  color: white;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 30%;
  z-index: 1000;
  text-align: center;
}
table {
  font-size: 0.9rem;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
td:first-child {
  font-weight: 600;
}
.card .card-small-title {
  font-weight: bold;
  position: relative;
}

.card .card-small-title:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  /* border: 1.5px solid greenyellow; */
  width: 20px;
}
